body,ul,input,img,button,form{
    margin: 0;
    padding: 0;
}
#tq{
    background: #cccccc2d;
    text-align:left;
}
iframe{
    margin-left:30px;
}
#main{
    background: #cccccc2d;
}

#logo{
    height: 130px;
    text-align:center;
    padding-top: 20px;
    padding-bottom: 40px;
    background: #cccccc2d;
}
#inputwrapper{
    display: flex;
    justify-content: center;
    height: 50px;
    background: #cccccc2d;
    text-align:center;
    padding-top: 30px;
    padding-bottom: 5px;
}
input{
    font-size: xx-large;
    border-radius:10px;
    margin-top: 5px;
    border:3px solid #0808086c;
    /* color:#d4d6da; */
}
button{
    text-decoration:none;
    margin-left: 10px;
	background:#336633;
	color:#f2f2f2;
	padding: 10px 30px 10px 30px;
	font-size:16px;
	font-family: 微软雅黑,宋体,Arial,Helvetica,Verdana,sans-serif;
	font-weight:bold;
	border-radius:10px;
	-webkit-transition:all linear 0.30s;
	-moz-transition:all linear 0.30s;
	transition:all linear 0.30s;
}
button:hover { background: #33CC33; }
#container{
    display: flex;
    justify-content: space-between;
    height: 540px;
    background-color:  #cccccc2d;
}
#title{
    margin: 0px;
    height: 50px;
    background:#336633;
}
#menu{
    /*position: relative;*/
    /*margin-left:590px; */
    /*margin-top:20px;*/
    width: 610px;
    display: block;
    margin: auto;
    margin-top: 1%;
    height:30px;
    /*border:3px solid #336633;*/
    border-radius:8px 8px 8px 8px ;
    background-color: #336633;
    /* position: absolute; */
    /* left: 50%; */
/* top:50%; */
/* transform:translate(-50%,-50%); */

}
p{
    margin-top: 0px;
    padding-top: 6px;
    color: #422c00 ;
    font-weight: 1000;
    font-size: x-large;
    text-align: center;
    text-align-last: center;
}
#container a{
    font-size: large;
    font-weight: 500;
    text-decoration:none; 
    color: blue;
}
#container a:visited {color:purple;}
#container a:hover { background: #33CC33; color:white;}
#left_url{
    height: 300px; 
    width: 5%;
    margin-left: 1%;
    position: fixed; /*固定*/
    top: 20%;/*离顶部的距离*/
    margin-bottom: 5px;
    text-align:center;
   
}
#left_url img{
    height: auto; 
    width: 60%; 
    margin-top: 20px;
    margin-left:20px;
}
#bilibili1{
    float:left;
    padding-right:110px;
    padding-left:25px;
    padding-top:2px;
    cursor: pointer;
}
#ZhiHu1{
    float:left;
    padding-right:110px;
    padding-top:2px;
    cursor: pointer;
}
#weibo1{
    float:left;
    padding-top:2px;
    padding-right: 26px;
    cursor: pointer;
}
#menu i{
    font-style: normal;
    font-size: 18px;
    color:white;
}
#bili{
    float:left;
    padding-top:10px;
    padding-right:40px;
}
#zhihu{
    float:left;
    padding-top:10px;
    padding-right:40px;
}
#weibo{
    float:left;
    padding-top:10px;
}
#resou{
    float:left;
    width:400px;
    position: relative;
    top:6px;
    right:3px;
    border-bottom:3px solid #33CC33;
    border-left:3px solid #33CC33;
    border-right:3px solid #33CC33;
    border-radius: 1px 1px 8px 8px;
}